.sccontact-form {
  background-color: var(--background-contact-cl);
}
.contact {
  .title {
    max-width: 406px;
    text-align: center;
    font-size: var(--fs-h2);
    line-height: var(--lh1-h2);
    color: var(--black-cl);
    font-family: lr;
    margin-right: auto;
    margin-left: auto;
  }
}
