.section-slider {
  .card__content {
    .card__information {
      .card__heading {
        line-height: var(--lh-name-product);
        font-family: pm;
        font-size: var(--fs-body);
      }
      .card-information {
        .price {
          font-size: var(--fs-price-sale);
          line-height: var(--lh-price-product);
        }
      }
    }
  }

  @media screen and (max-width: 575.98px) {
    .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item,
    .slider--mobile.grid--peek.grid--1-col-tablet-down .grid__item {
      width: calc(100% - var(--grid-mobile-horizontal-spacing) - 10.1rem);
    }
  }
}
