.multicolumn-list {
  @media screen and (max-width: 991.98px) {
    .multicolumn-list__item {
      width: calc(50% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    }
  }
  @media screen and (max-width: 767.98px) {
    .multicolumn-list__item {
      width: 100%;
      .multicolumn-card {
        display: flex;
        gap: 16px;
        align-items: flex-start;
        justify-content: center;
        .multicolumn-card__image-wrapper {
          width: 40px;
          .media {
            width: 40px;
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
