ul#Slider-template--23931705590036__section_service_UUCtiL {
  .service-inner {
    .service-item {
      //   display: flex;
      .multicolumn-card__image-wrapper {
        width: 73px;
      }
      .multicolumn-card__info {
        h3 {
          color: var(--black-cl);
          font-family: lr;
          font-size: var(--fs-body-l);
          line-height: var(--lh-body-l);
        }
        .rte {
          color: var(--black-cl);
          font-size: var(--fs-text-service);
          line-height: var(--lh-text-service);
        }
      }
    }
  }
}
