.section-collection {
  --grid-desktop-horizontal-spacing: 30px;
  --height-facets: 62px;
  --height-img: 440px;
  .facets-container {
    height: var(--height-facets);
    .mobile-facets__wrapper {
      .mobile-facets__open {
        border: 1px solid var(--black-light-cl);
        height: 39px;
        padding: 0px 17px 0px 17px;
        .mobile-facets__open-label {
          font-family: pm;
          font-size: 1.5rem;
          line-height: 2.44rem;
          text-transform: uppercase;
        }
      }
    }
  }
  .shopify-colletion {
    li {
      &:nth-child(1),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(12),
      &:nth-child(13) {
        width: calc(50% - var(--grid-desktop-horizontal-spacing) * 4 / 4);
        max-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 1 / 4);
      }
      .card-wrapper {
        .card {
          &__inner {
            max-height: var(--height-img);
            height: 100%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 991.98px) {
    --grid-desktop-horizontal-spacing: 8px;
    .shopify-colletion {
      li {
        &:nth-child(1),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(12),
        &:nth-child(13) {
          width: calc(100% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
          max-width: calc(
            100% - var(--grid-desktop-horizontal-spacing) * 3 / 4
          );
        }
      }
    }
  }
  @media screen and (max-width: 575.98px) {
    --height-facets: 64px;
    --height-img: 235px;
  }
}
