.announcement-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &:nth-child(2) {
    justify-content: flex-end;
  }

  &__message {
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: var(--ls);
    font-family: pr;
  }

  .announcement-inner {
    height: var(--height-announcement-bar);
    .grid__item {
      max-width: initial;
      width: initial;
      &:nth-child(1) {
        .announcement-bar__announcement {
          padding-left: 12px;
        }
      }
      &:nth-child(2) {
        .announcement-bar__announcement {
          padding-right: 12px;
          justify-content: end;
        }
      }
    }
  }
}
@media screen and (max-width: 767.98px) {
  .announcement-bar {
    &__message {
      .adress {
        width: 100%;
        order: 1;
      }
      .number {
        width: 100%;
        order: 2;
      }
    }
    .announcement-inner {
      .grid__item {
        max-width: 100%;
        width: 100%;
        &:nth-child(1) {
          .announcement-bar__announcement {
            order: 2;
          }
        }
        &:nth-child(2) {
          .announcement-bar__announcement {
            justify-content: center;
            order: 1;
          }
        }
      }
    }
  }
}
