.banner-hero {
  // height: 100vh;
  &.banner--medium {
    .banner__content {
      .textbox {
        h2 {
          max-width: 454px;
        }
      }
    }
  }
  .banner__content {
    .textbox {
      // max-width: 350px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      h2 {
        color: var(--white-cl);
        margin-left: auto;
        margin-right: auto;
        // max-width: 350px;
      }
      .banner__text {
        font-family: pr;
        color: var(--white-cl);
        font-size: var(--fs-p-hero);
        line-height: var(--lh-p-hero);
      }
      .banner__buttons {
        text-transform: uppercase;
        font-family: pm;
        font-size: var(--fs-body);
        line-height: var(--lh-body);
      }
    }
  }
  @media screen and (max-width: 767.98px) {
    &.banner--small {
      .banner__content {
        .textbox {
          h2 {
            max-width: 240px;
          }
        }
      }
    }
    &.banner--medium {
      .banner__content {
        .textbox {
          h2 {
            max-width: 300px;
          }
        }
      }
    }
  }
}
