.banner-hero {
  .banner__content {
    .textbox {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      h2 {
        color: var(--white-cl);
        margin-left: auto;
        margin-right: auto;
        &.hxxl {
          max-width: 500px;
        }
        &.hxl {
          max-width: 454px;
        }
      }
      .banner__text {
        font-family: pr;
        color: var(--white-cl);
        font-size: var(--fs-p-hero);
        line-height: var(--lh-p-hero);
      }
      .banner__buttons {
        text-transform: uppercase;
        font-family: pm;
        font-size: var(--fs-body);
        line-height: var(--lh-body);
      }
    }
  }
  @media screen and (max-width: 991.98px) {
    .banner__content {
      .textbox {
        h2 {
          &.hxl {
            max-width: 440px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767.98px) {
    .banner__content {
      .textbox {
        h2 {
          &.hxxl {
            max-width: 420px;
          }
          &.hxl {
            max-width: 300px;
          }
          &.h0 {
            max-width: 240px;
          }
        }
      }
    }
  }
}
