.image-with-text__grid--reverse {
  .grid__item {
    .image-with-text__content {
      padding-right: 0rem;
      padding-left: 0rem;
    }
  }
  @media screen and (min-width: 990px) {
    .grid__item {
      padding-right: 8rem;
    }
  }
}
