.contact-service {
  padding-top: 88px;
  width: 100%;
  height: 100vh;
  max-height: 752px;
  min-height: 679px;
  overflow: hidden;
  background-color: var(--background-contact-cl);
  .page-width {
    height: 100%;
  }
  .contact-inner {
    display: flex;
    position: relative;
    height: 100%;

    .contact_item {
      &.--left {
        width: 33.3333%;
        height: 100%;
        .contact_item-img {
          position: absolute;
          &:nth-child(1) {
            // max-width: 310px;
            left: 29px;
            top: 20px;
          }
          &:nth-child(2) {
            // max-width: 180px;
            top: 255px;
            left: -35px;
          }
          &:nth-child(3) {
            // max-width: 220px;
            left: 175px;
            top: 423px;
          }
        }
      }
      &.--center {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        .textbox {
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          p {
            color: var(--black-cl);
            font-family: pm;
            max-width: 165px;
            text-transform: uppercase;
            padding-bottom: 20px;
          }
          .heading {
            max-width: 380px;
            padding-bottom: 32px;
          }
        }
      }
      &.--right {
        width: 33.3333%;
        height: 100%;
        right: -38px;
        .contact_item-img {
          position: absolute;
          &:nth-child(1) {
            // max-width: 330px;
            top: 39px;
            right: -32px;
          }
          &:nth-child(2) {
            // max-width: 250px;
            top: 368px;
            right: 148px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1199.98px) {
    .contact-inner {
      .contact_item {
        &.--left,
        &.--right {
          width: 100%;
          .contact_item-img {
            transform: scale(0.8);
          }
        }
        &.--left {
          .contact_item-img {
            &:nth-child(3) {
              left: 177px;
            }
          }
        }
        &.--right {
          .contact_item-img {
            &:nth-child(1) {
              top: 77px;
            }
            &:nth-child(2) {
              top: 375px;
              right: 115px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 991.98px) {
    .contact-inner {
      flex-direction: column;
      .contact_item {
        &.--left,
        &.--right {
          .contact_item-img {
            width: 200px;
            height: 200px;
            transform: initial;
          }
        }
        &.--left {
          min-height: 200px;
          .contact_item-img {
            &:nth-child(1) {
              left: 148px;
              top: 0;
            }
            &:nth-child(2) {
              top: 66px;
              left: 0;
            }
            &:nth-child(3) {
              top: 72px;
              left: initial;
              right: 0;
            }
          }
        }
        &.--right {
          .contact_item-img {
            &:nth-child(1) {
              left: 51px;
              bottom: 48px;
              top: initial;
            }
            &:nth-child(2) {
              right: 27px;
              bottom: 0;
              top: initial;
            }
          }
        }
        &_center {
          padding-bottom: 28px;
          padding-top: 27px;
          .textbox {
            p {
              max-width: initial;
            }
            .heading {
              max-width: 296px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 767.98px) {
    padding-top: 48px;
    padding-bottom: 30px;
    .contact-inner {
      .contact_item {
        &.--right {
          .contact_item-img {
            &:nth-child(1) {
              left: 25px;
              bottom: -11px;
              top: initial;
            }
          }
        }
        &.--center {
          padding-top: 30px;
          .textbox {
            .heading {
              max-width: 300px;
            }
            p {
              max-width: initial;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 575.98px) {
    .contact-inner {
      .contact_item {
        &.--left,
        &.--right {
          .contact_item-img {
            width: 109px;
            height: 109px;
            transform: initial;
          }
        }
        &.--left {
          min-height: 182px;
          .contact_item-img {
            &:nth-child(1) {
              left: 98px;
            }
          }
        }
        &.--center {
          .textbox {
            .heading {
              padding-bottom: 17px;
            }
            .btnlink {
              padding: 13px 40px;
            }
          }
        }
      }
    }
  }
}
