.footer-block__newsletter {
  .textbox {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      color: var(--white-cl);
    }
    p {
      color: var(--white-cl);
    }
  }
  .footer__newsletter {
    .newsletter-form__field-wrapper {
      .field {
        input {
          background-color: var(--white-cl);
        }
        label {
          color: var(--black-cl);
          opacity: 0.5;
        }
        button {
          transition: var(--duration);
          &:hover {
            background-color: var(--border-bottom-accordion-cl);
          }
          .svg-wrapper {
            svg {
              width: 7px;
            }
          }
        }
      }
    }
  }
}
