ul#Slider-template--23931705590036__section_service_UUCtiL .service-inner .service-item .multicolumn-card__info h3 {
  color: var(--black-cl);
  font-family: lr;
  font-size: var(--fs-body-l);
  line-height: var(--lh-body-l);
}
ul#Slider-template--23931705590036__section_service_UUCtiL .service-inner .service-item .multicolumn-card__info .rte {
  color: var(--black-cl);
  font-size: var(--fs-text-service);
  line-height: var(--lh-text-service);
}