.main-blog .blog-filter .list-group .tag-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 45px;
}
.main-blog .blog-filter .list-group .tag-list li .tabs-button {
  color: var(--black-cl);
  font-family: pm;
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}
.main-blog .blog-filter .list-group .tag-list li::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 2px;
  background-color: var(--black-cl);
  transform: scaleX(0);
  transform-origin: right;
  transition: var(--duration) transform;
}
.main-blog .blog-filter .list-group .tag-list li.active::after, .main-blog .blog-filter .list-group .tag-list li:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.main-blog .blog-articles .blog-articles__article .card .card__content .card__information {
  display: flex;
  flex-direction: column;
}
.main-blog .blog-articles .blog-articles__article .card .card__content .card__information .card__heading {
  order: 2;
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
  font-family: lr;
  letter-spacing: var(--ls);
}
.main-blog .blog-articles .blog-articles__article .card .card__content .card__information .article-card__info {
  order: 1;
  color: var(--black-cl);
  font-family: pm;
  font-size: 1.35rem;
  line-height: 2.2rem;
  letter-spacing: var(--ls);
}
.main-blog .blog-articles .blog-articles__article .card .card__content .card__information .article-card__excerpt {
  order: 3;
  color: var(--black-cl);
  font-family: pm;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.main-blog .blog-articles .blog-articles__article .card .card__content .card__information .article-card__footer {
  order: 4;
}
.main-blog .blog-articles .blog-articles__article .card .card__content .card__information .btn-full-link {
  order: 5;
  color: var(--black-cl);
  font-family: pm;
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}
@media screen and (max-width: 575.98px) {
  .main-blog .blog-filter .list-group .tag-list {
    gap: 24px;
    margin-bottom: 30px;
  }
}