.banner-hero .banner__content .textbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.banner-hero .banner__content .textbox h2 {
  color: var(--white-cl);
  margin-left: auto;
  margin-right: auto;
}
.banner-hero .banner__content .textbox h2.hxxl {
  max-width: 500px;
}
.banner-hero .banner__content .textbox h2.hxl {
  max-width: 454px;
}
.banner-hero .banner__content .textbox .banner__text {
  font-family: pr;
  color: var(--white-cl);
  font-size: var(--fs-p-hero);
  line-height: var(--lh-p-hero);
}
.banner-hero .banner__content .textbox .banner__buttons {
  text-transform: uppercase;
  font-family: pm;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
}
@media screen and (max-width: 991.98px) {
  .banner-hero .banner__content .textbox h2.hxl {
    max-width: 440px;
  }
}
@media screen and (max-width: 767.98px) {
  .banner-hero .banner__content .textbox h2.hxxl {
    max-width: 420px;
  }
  .banner-hero .banner__content .textbox h2.hxl {
    max-width: 300px;
  }
  .banner-hero .banner__content .textbox h2.h0 {
    max-width: 240px;
  }
}