.contact {
  width: 100%;
  height: 100vh;
  max-height: 752px;
  min-height: 679px;
  overflow: hidden;
  background-color: var(--background-contact-cl);
}
.contact .page-width {
  height: 100%;
}
.contact .contact-inner {
  display: flex;
  position: relative;
  height: 100%;
}
.contact .contact-inner .contact_item.--left {
  width: 33.3333%;
  height: 100%;
}
.contact .contact-inner .contact_item.--left .contact_item-img {
  position: absolute;
}
.contact .contact-inner .contact_item.--left .contact_item-img:nth-child(1) {
  left: 29px;
  top: 20px;
}
.contact .contact-inner .contact_item.--left .contact_item-img:nth-child(2) {
  top: 255px;
  left: -35px;
}
.contact .contact-inner .contact_item.--left .contact_item-img:nth-child(3) {
  left: 175px;
  top: 423px;
}
.contact .contact-inner .contact_item.--center {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.contact .contact-inner .contact_item.--center .textbox {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contact .contact-inner .contact_item.--center .textbox p {
  color: var(--black-cl);
  font-family: pm;
  max-width: 165px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.contact .contact-inner .contact_item.--center .textbox .heading {
  max-width: 380px;
  padding-bottom: 32px;
}
.contact .contact-inner .contact_item.--right {
  width: 33.3333%;
  height: 100%;
  right: -38px;
}
.contact .contact-inner .contact_item.--right .contact_item-img {
  position: absolute;
}
.contact .contact-inner .contact_item.--right .contact_item-img:nth-child(1) {
  top: 39px;
  right: -32px;
}
.contact .contact-inner .contact_item.--right .contact_item-img:nth-child(2) {
  top: 368px;
  right: 148px;
}
@media screen and (max-width: 1199.98px) {
  .contact .contact-inner .contact_item.--left, .contact .contact-inner .contact_item.--right {
    width: 100%;
  }
  .contact .contact-inner .contact_item.--left .contact_item-img, .contact .contact-inner .contact_item.--right .contact_item-img {
    transform: scale(0.8);
  }
  .contact .contact-inner .contact_item.--left .contact_item-img:nth-child(3) {
    left: 177px;
  }
  .contact .contact-inner .contact_item.--right .contact_item-img:nth-child(1) {
    top: 77px;
  }
  .contact .contact-inner .contact_item.--right .contact_item-img:nth-child(2) {
    top: 375px;
    right: 115px;
  }
}
@media screen and (max-width: 991.98px) {
  .contact .contact-inner {
    flex-direction: column;
  }
  .contact .contact-inner .contact_item.--left .contact_item-img, .contact .contact-inner .contact_item.--right .contact_item-img {
    width: 200px;
    height: 200px;
    transform: initial;
  }
  .contact .contact-inner .contact_item.--left {
    min-height: 200px;
  }
  .contact .contact-inner .contact_item.--left .contact_item-img:nth-child(1) {
    left: 148px;
    top: 0;
  }
  .contact .contact-inner .contact_item.--left .contact_item-img:nth-child(2) {
    top: 66px;
    left: 0;
  }
  .contact .contact-inner .contact_item.--left .contact_item-img:nth-child(3) {
    top: 72px;
    left: initial;
    right: 0;
  }
  .contact .contact-inner .contact_item.--right .contact_item-img:nth-child(1) {
    left: 51px;
    bottom: 48px;
    top: initial;
  }
  .contact .contact-inner .contact_item.--right .contact_item-img:nth-child(2) {
    right: 27px;
    bottom: 0;
    top: initial;
  }
  .contact .contact-inner .contact_item_center {
    padding-bottom: 28px;
    padding-top: 27px;
  }
  .contact .contact-inner .contact_item_center .textbox p {
    max-width: initial;
  }
  .contact .contact-inner .contact_item_center .textbox .heading {
    max-width: 296px;
  }
}
@media screen and (max-width: 767.98px) {
  .contact .contact-inner .contact_item.--right .contact_item-img:nth-child(1) {
    left: 25px;
    bottom: -11px;
    top: initial;
  }
}
@media screen and (max-width: 575.98px) {
  .contact .contact-inner .contact_item.--left .contact_item-img, .contact .contact-inner .contact_item.--right .contact_item-img {
    width: 109px;
    height: 109px;
    transform: initial;
  }
  .contact .contact-inner .contact_item.--left {
    min-height: 182px;
  }
  .contact .contact-inner .contact_item.--left .contact_item-img:nth-child(1) {
    left: 98px;
  }
  .contact .contact-inner .contact_item.--center .textbox .heading {
    padding-bottom: 17px;
  }
  .contact .contact-inner .contact_item.--center .textbox .btnlink {
    padding: 13px 40px;
  }
}