.accordion {
  padding-bottom: 100px;
}
.accordion .textbox {
  margin-bottom: 60px;
}

.accordion__list-item {
  transition: var(--duration);
  border-bottom: 1px solid var(--border-bottom-accordion-cl);
}
.accordion__list-item.--active {
  border-bottom: none;
}
.accordion__list-item.--active .question {
  border-bottom: 1px solid var(--black-cl);
}
.accordion__list-item.--active .question .icon span::after {
  transform: rotate(0deg);
}
.accordion__list-item:not(:last-child) {
  margin-bottom: 20px;
}
.accordion__list-item .question {
  padding-bottom: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion__list-item .question .icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.accordion__list-item .question .icon span {
  width: 100%;
  height: 1.5px;
  position: relative;
  background-color: var(--black-cl);
}
.accordion__list-item .question .icon span::after {
  content: "";
  width: 100%;
  height: 1.5px;
  position: absolute;
  background-color: var(--black-cl);
  transform: rotate(90deg);
  transition: var(--duration);
}
.accordion__list-item .answer {
  padding-top: 16px;
  max-height: 0;
  overflow: hidden;
  transition: var(--duration);
}
.accordion__list-item .answer__content {
  color: var(--black-cl);
  line-height: var(--lh-body);
  font-size: var(--fs-body);
  letter-spacing: var(--ls);
}

@media screen and (max-width: 575.98px) {
  .question .icon {
    width: 13px;
  }
}