.announcement-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.announcement-bar:nth-child(2) {
  justify-content: flex-end;
}
.announcement-bar__message {
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: var(--ls);
  font-family: pr;
}
.announcement-bar .announcement-inner {
  height: var(--height-announcement-bar);
}
.announcement-bar .announcement-inner .grid__item {
  max-width: initial;
  width: initial;
}
.announcement-bar .announcement-inner .grid__item:nth-child(1) .announcement-bar__announcement {
  padding-left: 12px;
}
.announcement-bar .announcement-inner .grid__item:nth-child(2) .announcement-bar__announcement {
  padding-right: 12px;
  justify-content: end;
}

@media screen and (max-width: 767.98px) {
  .announcement-bar__message .adress {
    width: 100%;
    order: 1;
  }
  .announcement-bar__message .number {
    width: 100%;
    order: 2;
  }
  .announcement-bar .announcement-inner .grid__item {
    max-width: 100%;
    width: 100%;
  }
  .announcement-bar .announcement-inner .grid__item:nth-child(1) .announcement-bar__announcement {
    order: 2;
  }
  .announcement-bar .announcement-inner .grid__item:nth-child(2) .announcement-bar__announcement {
    justify-content: center;
    order: 1;
  }
}