.sccontact-form {
  background-color: var(--background-contact-cl);
}

.contact .title {
  max-width: 406px;
  text-align: center;
  font-size: var(--fs-h2);
  line-height: var(--lh1-h2);
  color: var(--black-cl);
  font-family: lr;
  margin-right: auto;
  margin-left: auto;
}
.contact form input {
  height: 52px;
}

.field {
  flex-direction: column;
  gap: 8px;
}

.contact__button {
  display: flex;
  justify-content: center;
}
.contact__button .button {
  height: var(--height-button);
  font-size: var(--fs-textbtn);
  line-height: var(--lh-textbtn);
  letter-spacing: var(--ls-textbtn);
  font-family: lm;
  padding: 0 50px;
  text-transform: uppercase;
}

.field:after,
.select:after,
.customer .field:after,
.customer select:after,
.localization-form__select:after {
  content: none;
}

@media screen and (max-width: 575.98px) {
  .contact__button .button {
    width: 100%;
  }
}